.tools {
    position: relative;
    width: 80%;
    max-width: 1300px;
    margin: 80px auto;
}

.tools__title {
    font: 25px "Gilroy", "Verdana", sans-serif;
    color: #05B100;
}

.tools__text {
    margin: 50px 0 150px 100px;
    max-width: 600px;
    font: 20px "Gilroy", "Verdana", sans-serif;
    color: #FFFFFF;
    animation: show .5s;
}

.tools__interactive {
    position: absolute;
    top: 0;
    right: 30px;
    width: 400px;
    height: 400px;
}

.tools__interactive li {
    position: absolute;
    border: 1px solid rgba(5, 177, 0, .3);
    border-radius: 50%;
    transition: all 300ms linear;
}

.tools__interactive li:hover {
    border-color: rgba(5, 177, 0, 1);
}

.interactive img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3px solid #05B100;
    border-radius: 50%;
    cursor: pointer;
}

.interactive_1 {
    width: 400px;
    height: 400px;
}

.interactive_2 {
    width: 300px;
    height: 300px;
}

.interactive_3 {
    width: 200px;
    height: 200px;
}

.interactive_2, .interactive_3 {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}

.interactive_1 div {
    position: absolute;
    top: 170px;
    left: -30px;
    transform-origin: 230px 30px;
    animation: rotation 40s linear infinite;
}

.interactive_1 img {
    animation: backRotation 40s linear infinite;
}

.interactive_2 div {
    position: absolute;
    top: 120px;
    left: -30px;
    transform-origin: 180px 30px;
    animation: rotation 30s linear infinite;
}

.interactive_2 img {
    animation: backRotation 30s linear infinite;
}

.interactive_3 div {
    position: absolute;
    top: 70px;
    left: -25px;
    transform-origin: 125px 30px;
    animation: rotation 20s linear infinite;
}

.interactive_3 img {
    animation: backRotation 20s linear infinite;
}

@keyframes rotation{
    100% {
        transform: rotate(360deg);
    }
}

@keyframes backRotation{
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes show{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1450px) {
    .tools__text {
        max-width: 500px;
    }
}

@media (max-width: 1350px) {
    .tools__text {
        margin-left: 0;
    }
}

@media (max-width: 1000px) {
    .tools {
        margin: 60px auto 20px auto;
    }

    .tools__text {
        margin: 10px auto;
    }

    .tools__interactive {
        position: unset;
        height: auto;
        width: auto;
        margin: 30px auto 0 auto;
        max-width: 400px;
        display: flex;
        justify-content: space-between;
    }

    .tools__interactive li {
        position: unset;
        border: none;
    }

    .interactive {
        width: auto;
        height: auto;
        margin: 0;
        transform: translateY(0);
    }

    .interactive div {
        position: unset;
    }

    .interactive div, .interactive img {
        animation: none;
    }
}